:host {
  display: flex;
}

section {
  height: 100%;
}

#users {
  padding: 8px;
}

.user {
  padding: 4px;
  align-items: center;
  color: white;
}

.me {
  font-weight: bold;
}

.status {
  border-radius: 100%;
  display: inline-block;
  font-size: 12px;
  font-weight: lighter;
  height: 14px;
  margin-right: 4px;
  text-transform: lowercase;
  width: 14px;
}

.status::first-letter {
  text-transform: uppercase;
}

.online {
  background: limegreen;
}

.offline {
  background: lightgrey;
}

header {
  color: white;
  display: flex;
  flex-flow: row wrap;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  padding: 4px;
}

.nick {
  flex: 1 0 100%;
}
