div {
  visibility: hidden;
  z-index: -1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

[active] {
  visibility: visible;
  z-index: auto;
  pointer-events: auto;
  opacity: 1;
}
